h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(125, 128, 123, 0.557);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
}   
.navbar a:hover{
    background-color: aqua;
}